body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.container img {
    max-width: 50%;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
}

.back-link {
    text-align: center;
    text-decoration: none;
    color: #007bff;
    display: block;
    font-size: 16px;
    margin-top: 20px;
}

.back-link:hover {
    text-decoration: underline;
}