body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.container img {
    max-width:20%;
    cursor: pointer;
}

h1 {
    font-size: 18px;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: justify;
    margin: 20px 0;
}